body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;

    color: #f9faf8;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 100px;
}

.links {
    display: flex;
    justify-content: right;
    gap: 16px;
    margin-right: 100px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font: 18px;
}

.cont1 {
    background-color: #1f2937;
    display: flex;


    padding-top: 100px;
    padding-bottom: 100px;
}

.cont1 .hero {
    margin-left: 100px;
}
p {
    color: #e5e7eb;
    font: 18px;
}

.cont1 .image {
    width: 500px;
    height: 200px;
    background-color: grey;
    color: #e5e7eb;

    margin-right: 100px;
    display: flex;
    flex: flex 0 0 initial;
    justify-content: center;
    align-items: center;
}



.vert {
    display: flex;
    align-items: center;
}

#awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}