body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    min-width: max-content;
    color: #f9faf8;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 100px;
}

.links {
    display: flex;
    min-width: max-content;
    justify-content: right;
    gap: 16px;
    margin-right: 100px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font: 18px;
}

.cont1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    padding-top: 100px;
    padding-bottom: 100px;
}

.cont1 .hero {
    margin-left: 100px;
    min-width: 500px;
    max-width: 500px;
    
    display: flex;
    flex: 0 0 initial;
    flex-direction: column;
    align-items: flex-start;

}
#awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

p {
    color: #e5e7eb;
    font: 18px;
}

.cont1 .image {
    min-width: 500px;
    height: 200px;
    background-color: grey;
    color: #e5e7eb;

    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.cont2 {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 100px;
    gap: 32px;
}

.cont2 .info {
    font-size: 36px;
    font-weight: bolder;
    min-width: max-content;
    color: #1f2937;
    text-align: center;
}
section {
    display: flex;
    flex-wrap: flex;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: flex 0 0 auto;
    gap: 4px;
}

.imgHolder {
    height: 200px;
    width: 200px;
    display: flex;
    max-width: initial;
    border: 10px;
    border-radius: 12px;
    border: 3px solid #3882f6;
}

.subtext {
    display: flex;
    max-width: fit-content;
    text-align: center;
}

.cont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #e5e7eb;
}

.cont3 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    min-width: 800px;
    max-width: 800px;
    display: flex;
}

.cont3 .person {
    font-size: 18px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    min-width: 700px;
    max-width: 700px;
    display: flex;
    justify-content: end;
}

.cont4 {
    display: flex;
    justify-content: center;
}
.cont4 .banner {
    margin: 100px;
    padding: 50px;
    gap: 100px;
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont4 .banner .action {
    min-width: max-content;

}

.cont4 .banner button {
    border: 2px solid white;
}

footer {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;

    padding: 40px;
    text-align: center;
    justify-content: center;
}